@model MvcStok.Models.Entity.TBLSatislar
@{
ViewBag.Title = "Update";
Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2>Satış Güncelleme Formu</h2>
    </div>
    <div class="panel-body panel-yukseklik">
        <form method="POST">
            <div class="form-group">
                <label for="urunid">Ürün Adı</label>
                <select name="urunid" class="form-control">
                    @foreach (var item in ViewBag.Urun)
                    {
                    if (item.UrunId == Model.UrunId)
                    {
                    <option value="@item.UrunId" selected>@item.UrunAd</option>
                    }
                    else
                    {
                    <option value="@item.UrunId">@item.UrunAd</option>
                    }

                    }
                </select>
            </div>
            <div class="form-group">
                <label for="musteriid">Müşteri Adı</label>
                <select name="musteriid" class="form-control">
                    @foreach (var item in ViewBag.Musteri)
                    {
                    if (item.MusteriId == Model.MusteriId)
                    {
                    <option value="@item.MusteriId" selected>@item.MusteriAd @item.MusteriSoyad</option>
                    }
                    else
                    {
                    <option value="@item.MusteriId">@item.MusteriAd @item.MusteriSoyad</option>
                    }


                    }
                </select>
            </div>

            <div class="form-group">
                <label for="soyadi">Adet</label>
                <input type="text" name="adet" id="adet" class="form-control" placeholder="Ürün Adeti" value="@Model.Adet" required>

            </div>
            <button type="submit" class="btn btn-sm btn-warning btn-block">Güncelle</button>
        </form>
    </div>
</div>

<hr>